// Variables
$backgroundColor: #f7f7f7;
$buttonColor: #32c8e4;
$primaryColor: #1D7A8C;
$buttonColorCancel: #dfdfdf;
$textColor: rgb(105, 115, 130);
$headingColor: rgb(9, 11, 23);
$errorColor: #ff3860;
$errorBackgroundColor: #ffedf1;
$borderWidth: 1px;
